.btn{
    border-radius: 12px;
    background-color: burlywood;
    height: 30px;
    width: 50px;


}
.btn2{
    border-radius: 12px;
    background-color: rgb(119, 35, 161);
    height: 30px;
    width: 50px;


}